@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

#home-icon {
    width: 40px;
    height: auto;
    display: flex;
    align-items: center;
    
}

header {
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #3498DB;
}

#logo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

#div-titulo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

#titulo {
    color: #fff;
}

#fundo {
    background-color: #3498DB;
    margin: 30px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.registro {
    background-color: #fff;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;

}

.nome-e-tipo {
    background-color: violet;
    padding-left: 4px;
    padding-right: 4px;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    color: #fff;
    text-shadow: 1px 1px 3px black;
}

.nome-e-tipo p {
    font-size: 18px;
    text-align: center;
}

.botoes-info {
    background-color: #3498DB;
    padding-left: 4px;
    padding-right: 4px;
    height: 80px;
    width: 80px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}

#editar-registro {
    background-color: yellow;
    width: 25px;
}

#excluir-registro {
    color: #fff;
    background-color: red;
    width: 25px;
}

#registros-container {
    min-height: 90%;
    max-height: 96%;
    overflow-y: auto;
}

.data-hora-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 3px black;

}

.botoes-info-registro {
    background-color: #fff;
    border-radius: 5px;
    transition-duration: 1s;
    border: none;
}

.botoes-info-registro:hover {
    background-color: violet;
    transition: all;
    transition-timing-function: ease-in-out;
}

